.edit_test-buttons{
    float: right;
    margin: 2px;
}

html {
    height: 100%;
    box-sizing: border-box;
}


body {
    position: relative;
    margin: 0;
    min-height: 100%;
}

.footer{
    margin-top:400px;
    padding: 15px;
    width: 100%;
    background: #eee;
    right: 0;
    bottom: 0;
    left: 0;
}

.test__result{
    font-size:1.5rem;
    border-radius: 15px;
    margin:15px;
    text-align: center;
    padding: 15px;
}

.bold{
    font-weight:bold;
}
.mt__md{
    margin-top: 20px;
}

